*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #06073a, #07113a);
}

.container {
    background-color: #052d6d;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    width: 520px;
    color: rgb(208, 255, 255);
}


h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    gap: 10px;
    margin-bottom: 12px;
}

.input-group input {
    flex: 1;
    padding: 10px;
    border: 1px solid #100971;
    border-radius: 6px;
    color: rgb(0, 0, 0);
    background-color:rgb(166, 243, 251) ;
}
.input-group button {
    width: 45px;
    background-color: #170cb4;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;    
    font-size: 18px;
}

.filter-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.filter-group select,.filter-group button {
    padding: 10px;
    border: 1px solid #0d084b;
    border-radius: 6px;
    color: rgb(208, 255, 255);
    background-color: #170cb4;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    background:#0f1c2e;
}

th, td {
    padding: 14px;
    text-align: center;
    font-size: 14px;
}

th {
    background-color: #0d084b;
    color: rgb(208, 255, 255);
}

.completed {
    text-decoration: line-through;
    opacity: 0.6;
}